Source: nagios-plugins-security-misc
Section: net
Priority: optional
Uploaders: Lou Ruppert <himself@louruppert.com>
Maintainer: Lou Ruppert <himself@louruppert.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: nagios-plugins-security-misc
Architecture: all
Depends: ${misc:Depends}
Description: Various security scripts for nagios reporting

