#!/usr/bin/make -f
# -*- makefile -*-
DPKG_DEST=$(CURDIR)/debian/nagios-plugins-security-misc
configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp
build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	python setup.py build
	touch $@
clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -rf build
	dh_clean
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	python setup.py install \
		--root=$(CURDIR)/debian/nagios-plugins-security-misc \
		--install-scripts=/usr/lib/nagios/plugins \
		--install-layout=deb
	mkdir -p $(DPKG_DEST)/etc/sudoers.d
	cp sudoers.iptables $(DPKG_DEST)/etc/sudoers.d/check-iptables
	cp sudoers.simtec $(DPKG_DEST)/etc/sudoers.d/check-simtec
	mkdir -p $(DPKG_DEST)/etc/nagios/nrpe.d
	cp check-iptables.cfg $(DPKG_DEST)/etc/nagios/nrpe.d/check-iptables.cfg
	cp check-simtec.cfg $(DPKG_DEST)/etc/nagios/nrpe.d/check-simtec.cfg
binary-arch: build install
	# emptyness
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_pycentral
	dh_link
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
binary: binary-indep
.PHONY: build clean binary-indep binary install configure
